body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

#rules {
    width: 45%;
    border-radius: 4%;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

div>ul {
    list-style: none;
    font-size: 1.25em;
    font-weight: 700;
    padding: 0;
}

ul>li>ul {
    text-align: left;
    font-size: 0.8em;
    font-weight: 400;
}

#board {
    display: none;
    grid-template-columns: min(30vw, 30vh) min(30vw, 30vh) min(30vw, 30vh);
    grid-template-rows: min(30vw, 30vh) min(30vw, 30vh) min(30vw, 30vh);
}

.small-board{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 33.333% 33.333% 33.333%;
}

.tile {
    margin: 0;
    border: 2px black solid;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: rgb(154, 228, 252);
    border-radius: 6%;
    border: 2px solid black;
}

button:hover {
    background-color: rgb(122, 238, 174)
}